<%- include ('header') %>

<h1><%- title %></h1>
<p><%- message %></p>
<p><%-  %></p>

<hr>

<form action="/uploader" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-md-3">
            <div class="alert alert-info" role="alert">
                <label for="apikeyselect">Choose one of the available API keys</label>
                <select class="form-control" name="apikeyselect" id="apikeyselect">
                    <% apiKeys.forEach(function(apiKey){ %>
                        <tr>
                            <option value="<%- apiKey %>"><%- apiKey %></option>
                        </tr>
                    <% }) %>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group row">
        <div class="col-sm-12">
            <label for="csvFile">Upload your CSV file</label>
            <input type="file" class="form-control-file" name="csvFile" id="csvFile">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>


<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-3 offset-md-8 align-self-end">
<!--            <button type="button" class="btn btn-outline-danger btn-sm">Call YouTube API</button>-->
            <a href="/uploader/youtube" class="btn btn-outline-danger btn-sm" role="button" aria-pressed="false">Call YouTube API</a>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Product SKU</th>
        <th scope="col">Category</th>
        <th scope="col">Product Name</th>
        <th scope="col">Search Term</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(row){ %>
    <tr>
        <th scope="row"><%- row.virtuemart_product_id %></th>
        <td><%- row.product_sku %></td>
        <td><%- row.categories_names %></td>
        <td>@<%- row.product_name %></td>
        <td><%- row.search_term %></td>
    </tr>
    <% }) %>
    </tbody>
</table>

<%- include ('footer') %>