<%- include ('header') %>

<h1><%- title %></h1>
<p><%- message %></p>
<p><%-  %></p>

<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Product id</th>
        <th scope="col">Product Description</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(row){ %>
    <tr>
        <td scope="row"><%- row.csvId %></td>
        <td scope="row">
            &lt;iframe width="1090" height="613" src="https://www.youtube.com/embed/<%- row.id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen&gt;&lt;/iframe&gt;
        </td>
    </tr>
    <% }) %>
    </tbody>
</table>

<%- include ('footer') %>